<!DOCTYPE html>
<html>
    <head>
        <title>mysite</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/assets/css/user.css" type="text/css">
    </head>
    <body>
        <div id="container">
            <%-include('../includes/header') %>
            <div id="content">
                <div id="user">
                    <form id="update-form" action="/user/update" method="post">
                        <label class="block-label" for="name">이름</label>
                        <input type="text" id="name" name="name" value="<%= locals.name %>">
                        
                        <label class="block-label" for="email">이메일</label>
                        <h2><%= locals.email %></h2>

                        <label class="block-label">현재 비밀번호</label>
                        <input name="password" type="password" value="">                        
                        <% if(locals.password == '' || null ){ %>
                            <h4> 비밀번호를 입력해주세요</h4>
                        <% } %>
                        
                        <label class="block-label">새 비밀번호</label>
                        <input name="newPwd" type="password" value="">

                        <fieldset>
                            <% if(locals.gender === 'female'){ %>
                                <legend>성별</legend>
                                <label>여</label> <input type="radio" name="gender" value="female" checked="checked">
                                <label>남</label> <input type="radio" name="gender" value="male">
                            <% } else { %>
                                    <legend>성별</legend>
                                    <label>여</label> <input type="radio" name="gender" value="female">
                                    <label>남</label> <input type="radio" name="gender" value="male" checked="checked">
                            <% } %> 
                        </fieldset>

                        <input type="submit" value="수정하기">
                    </form>
                </div>
            </div>
            <%-include('../includes/navigation') %>
            <%-include('../includes/footer') %>

        </div>
        </body>
</html>